body {
    padding: 0;
}
.main-header {
    display: flex;
    padding: 5px;
}

.header-main {
    height: 60px;
    background-color: black;
}

.header-main > a {
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.all-news {
    display: flex;
    margin-bottom: 7px;
    padding: 5px;
    /* background-color: ; */
}

.all-news1 {
    display: flex;
    margin-bottom: 7px;
    padding: 5px;
    /* background-color: ; */
}
.all-news2 {
    display: flex;
    margin-bottom: 7px;
    padding: 5px;
    /* background-color: ; */
}

.news {
    background-color: lightgray;
    height: 420px;
    padding: 7px;
    border: 1px solid lightgray;
    width: 25%;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px #aaa;
}

.news:hover {
    transform: translateY(-10px);
}

.news h2 {
    text-transform: capitalize;
}

.news img {
    width: 50;
    border-radius: 5px;
    height: 62%;
    margin-bottom: 3px;
}

.carousel-caption {
    margin-top: 50px;
}

.carousel-caption h3 {
    text-align: right;
}

.carousel-caption p {
    text-align: right;
}

.carousel-caption a {
    float: right;
}

#myCarousel {
    height: 70vh;
}

.container1 > #myCarousel > .carousel-inner > .item > img {
    height: 70vh;
    object-fit: cover;
}
