body {
    background-color: #E5E8E8;
    width: 100%;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 60px;
    /* box-shadow: 0 0px 50px #aaaaaa; */
    border-color: #aaaaaa;
    border-width: 2px;
    border-style: solid;
}

h1 {
    text-align: center;
    padding-top: 60px;
}