.total {
    width: 80%;
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
    border-radius: 10px;
    margin-left: 10%;
    padding: 20px;
    margin-top: 30px;
}

.news-topic {
    border: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    padding: 5px;
    border-radius: 5px;
}

.news-topic h1 {
    text-align: center;
}

.news-source {
    margin-top: 20px;
}

.news-author p {
    color: dimgrey;
}

.news-image {
    width: 1200px;
    margin-left: 215px;
}

.news-description {
    margin-top: 20px;
    overflow: inherit;
}

.news-description p {
    text-align: left;
}