* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    color: White;
    font-family: 'Ubuntu', sans-serif;


}

.sidebar {
    overflow: hidden;
    flex: 0.20;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #222225;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to top, #0072ff, #00c6ff); */
    border-right: 1px solid lightgray;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.75);
    z-index: 900;

}

.main {
    flex: 0.80;

    /* margin-left: 150px;
    margin-right: 0; */
}

.sidebar__header {
    width: 100%;
    display: flex;

}

.sidebar__title {
    display: flex;
    flex: 1;
    padding: 10px;
    background-color: #222225;
    color: white;
}

.sidebar__title > h1 {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 0px;

}

.sidebar__user {
    display: flex;
    padding: 10px;
    flex: 1;
    /* border-bottom: 0.3px solid lightgray; */

}

.sidebar__user:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__user > h2 {
    padding: 15px 0px;
    margin-left: 15px;
    font-size: 15px;
}

.sidebar__user > a > i {
    font-size: 40px;
    padding: 5px 5px;
    display: flex;
    margin-left: 20%;
    border-radius: 50%;
    transition: 0.5ms;
    cursor: pointer;
    text-decoration: none;
}

.sidebar__user > a {
    text-decoration: none;
    color: #fff;
}

.sidebar__user > i:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar__body {
    display: flex;
    flex-direction: column;
}

.sidebar__contents {
    padding: 25px 0px;
    border-bottom: 1.5px groove gray;
}

.sidebar__content {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar__content:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__content > i {
    font-size: 30px;
}

.sidebar__content > h2 {
    padding: 3px 0px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
}

.sidebar__footer {
    height: 49vh;
}

.sidebar > p {
    padding: 0px 15px;
    color: rgba(211, 211, 211, 0.616);
    margin-top: 8px;
    font-size: 15px;
}

.active {
    background-color: #4267B2;
}

.footer__content {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer__content:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.footer__content > i {
    font-size: 30px;
}

.footer__content > h2 {
    padding: 3px 0px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
}
