body {
    width: 100%;
    transition-delay: 5ms;
    scroll-behavior: smooth;
}

.particles {
    background-image: url('/storage/images/books_library_shelves_138556_1920x1080.jpg');
    width: 100%;
    height: 900px;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100% !important;
    overflow: hidden;
    z-index: 5;
}

.main-content {
    height: 0;
    width: 1100px;
    background-color: white;
}

.particles .main-content .main-des {
    position: relative;
    height: 0;
}

.particles .main-content .main-text h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 100px;
    padding-top: 22%;
    padding-left: 100px;
    font-family: arial;
    border: 1px;
    border-color: black;
    text-shadow: 2px 2px 15px black;
    position: relative;
}

.particles .main-des p {
    color: white;
    font-family: sans-serif;
    padding-left: 110px;
    text-shadow: 2px 2px 15px black;
    font-size: 20px;
    position: relative;
}

.particles .main-des a {
    margin-left: 110px;
    margin-top: 50px;
}

#books {
    scroll-behavior: smooth;
    transition: 5ms;
}